<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<style type="text/css"></style>
<body>
	<div class="container">
	  <div class="col-md-4 col-md-offset-4" style="margin-top: 40px;box-shadow: 10px 10px 10px 10px;text-align: center;padding: 30px">
		<form class="form-group">
			<h2 class="text-center">Forgot password</h2><hr><br>
			<input type="email" class="form-control" ng-model="" placeholder ="enter your email"><br><br>
			<input class="btn btn-info" type="submit" ng-click="" value="send-otp"><br><br>
			<i class="btn glyphicon glyphicon-chevron-left" style="border:1px solid black;border-radius:50%;background-color: grey"></i>
		</form>
	  </div>
	</div>
</body>
</html>